span.colorBox {
  display: inline-block;
  width: 60px;
  height: 20px;
}

color-set {
  border-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  list-style: none;
  width: 400px;
  float: left;
}

details.colorLine {
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
details.colorLine summary::marker {
  content: ""
}
/* This doesn't work on Safari :-( */
details summary::-webkit-details-marker {
  display: none;
}

.colorSpecification {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.colorSetDescription {
  /* weak attempt to make the actual colors below this line up */
  min-height: 80px;
}

.mainContainer {
  padding: 10px;
}
