span.colorBox {
  display: inline-block;
  width: 60px;
  height: 20px;
}

div.colorSet {
  border-color: gray;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  margin: 5px;
  list-style: none;
  width: 400px;
  float: left;
}

.colorLine {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.colorSpecification {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.colorSetDescription {
  /* weak attempt to make the actual colors below this line up */
  min-height: 80px;
}

.App {
  padding: 10px;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
